<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup2.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="head">
        <h1>Let's Continue</h1>
        <p>Fill in the necessary information to continue wuth your journey!</p>
    </div>

    <div class="texbox">
        <label for="texbox">Barber shop's name</label>
        <input type="text" placeholder="Registered name" name="" value="">

        <label for="texbox">Barber Slogan</label>
        <input type="text" placeholder="Registered prefered Slogan" name="" value="">

        <label for="texbox">Address</label>
        <input type="text" placeholder="Location of shop" name="" value="">

        <label for="texbox">Telephone number</label>
        <input type="tel" placeholder="" name="" value="">
    </div>

    <div class="button">
        <input class="btn" type="button" name="" value="Done">
    </div>

    <h3>Barber Shop's Logo</h3>

    <form>
        <label for="file-upload">Choose a file to upload:</label><br><br><br>
        <input type="file" id="file-upload" name="file-upload">
    </form>
    
    <div class="button1">
        <input class="btn" type="button" name="" value="Cancel">
        <input class="btn" type="button" name="" value="Upload">
    </div>
</div>
</body>
</html>