<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slogan.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="fontawesome.com">
    <title>Document</title>
</head>
<body>

    <div class="sidebar">

        <h2>Barber Shop</h2>

        <h3>Slogan</h3>
        <ul>
            <li><a href="#">Board</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Inventory Management</a></li>
            <li><a href="#">Schedules</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

    <div class="textbox">
        <input type="date" placeholder="dd/mm/yyy" name="" value="">
    </div>

    <div class="search-bar">
        <input type="search" name="" id="search" placeholder="Search">
        <i class="fa fa-search" ></i>
    </div>
    <div class="head">
        <h2>Service or Product Ordered</h2>
    </div>

    <div class="textbox1">
        <label for="texbox">Hair Cut</label>
        <input type="text" placeholder="Select Item" name="" value="">
        <label for="texbox">Amount</label>
        <input type="text" placeholder="" name="" value="">
    </div>

    <div class="textbox2">
        <label for="texbox">Item</label>
        <input type="text" placeholder="Select Item" name="" value="">
        <label for="texbox">Amount</label>
        <input type="text" placeholder="" name="" value="">
    </div>

    <div class="textbox3">
        <label for="texbox">Number of people</label>
        <input type="number" placeholder="Enter number of people" name="" value="">
        <label for="texbox">Barber</label>
        <input type="text" placeholder="Select Barber" name="" value="">
    </div>

    <div class="textbox4">
        <label for="texbox">Number of Items</label>
        <input type="number" placeholder="Enter number of Items" name="" value="">
    </div>
    
    <div class="button1">
        <input class="btn" type="button" name="" value="Add Product" >
        <input class="btn" type="button" name="" value="Add Service" >
    </div>

    <div class="button2">
        <input class="btn" type="button" name="" value="Cancel" >
    </div>
-
    <div class="button3">
        <input class="btn" type="button" name="" value="Paid" >
    </div>

    
</body>
</html>